HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### Java ###
# Compiled class file
*.class

### STS ###
.apt_generated
.classpath
.factorypath
.project
##.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VisualStudioCode ###
#.vscode/*
.history
#.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
#!vue/.vscode/settings.json
#!vue/.vscode/extensions.json
spring/.settings
#spring/.vscode


### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.flattened-pom.xml

.DS_Store
node_modules
/dist

# local env files
#.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Editor directories and files
#.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.pid

#docker proxyreverso
*/proxy-reverso-docker/logs/

# ignora quaisquer diretórios chamados "metadata"
.metadata/

# ignorar arquivos compilados
vue/dist/
.sonarlint/*
spring/mvnw
spring/mvnw.cmd
spring/.mvn/wrapper/maven-wrapper.jar
spring/.mvn/wrapper/MavenWrapperDownloader.java
spring/.mvn/wrapper/maven-wrapper.properties
